body{
    font-family: 'Red Hat Display', sans-serif;
}

.brand{
    height: 4em;
    margin-right: 1em;
    margin-left: 2em;
}

.leftHand button{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.searchBar{
    height: 8em;
}

.card-ind{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.teacher{
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
}

.individualCard{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-body__insides{
    width: 105%;
}

.card-body__imageProfile{
    width: 20%;
    height: 20%;
}