body{
    font-family: 'Red Hat Display', sans-serif;
}

.brand{
    height: 4em;
    margin-right: 1em;
    margin-left: 2em;
}

div button{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.jumbotron{
    height: 25%;
}

.card-img{
    height: 75%;
    width: 75%;
}

.card{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.teacher{
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
}