body{
    font-family: 'Red Hat Display', sans-serif;
}

.brand{
    height: 4em;
    margin-right: 1em;
    margin-left: 2em;
}

div button{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.jumbotron{
    height: 50%;
}

.pfp{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    height: 110px;
    margin-left: 2%;
    margin-top: 10px;
    display: flex;
}

.profile{
    background-image: url("../images/Rectangle\ 62.png");
    width: 100%;
    height: 4.5rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.col-md-6 h4{
    margin-bottom: 0;
}

p{
    margin: 0 0;
}

.show-more{
    text-decoration: underline;
}

.profile-img{
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}